<!--<mk-box header="Tabla lista" [isCollapsable]="true" [isRemovable]="false" contentClasses="table-responsive">-->
<table class="table table-bordered table-hover">
    <tbody>
        <tr>
            <th>Parametro</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{item.id}}</td>
        </tr>
        <tr>
            <td>Alias</td>
            <td>{{item.alias}}</td>
        </tr>
        <tr>
            <td>Owner</td>
            <td>{{item.owner}}</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td>{{item.fecha}}</td>
        </tr>
    </tbody>
</table>
<!--</mk-box>-->